{% extends 'layout.tpl.html' %}

{% block content %}
<link rel="stylesheet" href="/html5-skin.css">
<script src="//player.ooyala.com/static/v4/stable/{{version}}/core.min.js"></script>
<script src="//player.ooyala.com/static/v4/stable/{{version}}/video-plugin/main_html5.min.js"></script>
<script src="//player.ooyala.com/static/v4/stable/{{version}}/video-plugin/bit_wrapper.min.js"></script>
<script src="//player.ooyala.com/static/v4/stable/{{version}}/video-plugin/osmf_flash.min.js"></script>
<script src="//player.ooyala.com/static/v4/stable/{{version}}/other-plugin/discovery_api.min.js"></script>
<script src="/html5-skin.js"></script>
<div class="myoo-player-container">
  <div id="container" class="myoo-player"></div>
  <script>
  OO.ready(() => {
    OO.Player.create(
      'container',
      '{{embedCode}}',
      {
        pcode: '{{pcode}}',
        playerBrandingId: '{{id}}',
        debug: true,
        skin: {
          // config contains the configuration setting for player skin. Change this path to your local config when necessary.
          config: '//player.ooyala.com/static/v4/stable/{{version}}/skin-plugin/skin.json',
          inline: {chapters: {% autoescape false %}{{chapters}}{% endautoescape %}}
        }
      }
    );
  });
  </script>
</div>
{% endblock %}
